<!-- #CodePenChallenge: Reflections -->
<section class="main-section" style="background-color: black;">
    <!-- <div class="container "> -->
    <div class="card " style="margin-top: 0%; padding: 0%;">
        <div class="columns is-multiline p-0 last main-section">
            <div class="column is-full card">
                <p class="has-text-white" style="color: red;">Action Movies Collection</p>
            </div>
            <div class="column is-one-quarter card">
                <img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/image1.PNG">
            </div>
            <div class="column is-one-quarter card">
                <img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/image2.PNG">
            </div>
            <div class="column is-one-quarter card" style="margin-top: 5em; margin: bottom 0%;">
                <img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img3.PNG">
            </div>
            <div class="column is-one-quarter card">
                <img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img4.PNG">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="columns last main-section">
            <div class="column is-one-quarter card">
                <img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img5.PNG">
            </div>
            <div class="column is-one-quarter card">
                <img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img6.PNG">
            </div>
            <div class="column is-one-quarter card">
                <img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img7.PNG">
            </div>
            <div class="column is-one-quarter card">
                <img src="https://raw.githubusercontent.com/brixiobodino/coffeholic/main/img8.PNG">
            </div>
        </div>
    </div>
</section>