.mylabelform{
    font-weight: bold;
}
.myBtn{
    width: 16%;
    margin-left: 42%;
    margin-right: 42%;
}
.myfile{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}